<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
         <runtimeType
               class="com.eidosmedia.cobalt.eclipse.sdk.internal.server.CobaltRuntime10"
               description="%server10"
               id="com.eidosmedia.cobalt.eclipse.sdk.runtime.10"
               name="%server10"
               vendor="%providerName"
               version="1.0">
		 	<moduleType types="java" versions="[1.6" />
    <moduleType
          types="jst.web"
          versions="3.0, 3.1">
    </moduleType>
		 </runtimeType>         
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="com.eidosmedia.cobalt.eclipse.sdk.ui.internal.server.CobaltRuntimeWizardFragment"
            id="com.eidosmedia.cobalt.eclipse.sdk.runtime.10"
            typeIds="com.eidosmedia.cobalt.eclipse.sdk.runtime.10">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
         <serverType
               behaviourClass="com.eidosmedia.cobalt.eclipse.sdk.internal.server.CobaltServerBehaviour"
               class="com.eidosmedia.cobalt.eclipse.sdk.internal.server.CobaltServer"
               description="%server10"
               hasConfiguration="true"
               id="com.eidosmedia.cobalt.eclipse.sdk.server.10"
               initialState="stopped"
               launchConfigId="com.eidosmedia.cobalt.eclipse.sdk.launching.CobaltLaunchConfiguration"
               launchModes="run,debug"
               name="%server10"
               runtime="true"
               runtimeTypeId="com.eidosmedia.cobalt.eclipse.sdk.runtime.10"
               startBeforePublish="false"
               startTimeout="75000"
               stopTimeout="15000"
               supportsManualCreation="true"
               supportsRemoteHosts="false"
               synchronousStart="false">
		 </serverType>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
         <image
			icon="icons/cobalt.gif"
          	id="com.eidosmedia.cobalt.eclipse.sdk.runtime.10"
          	typeIds="com.eidosmedia.cobalt.eclipse.sdk.runtime.10">
    	 </image>
         <image
               icon="icons/cobalt.gif"
               id="com.eidosmedia.cobalt.eclipse.sdk.server.10"
               typeIds="com.eidosmedia.cobalt.eclipse.sdk.server.10">
         </image>         
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="com.eidosmedia.cobalt.eclipse.sdk.ui.internal.server.CobaltServerDebugEditorSection"
            id="com.eidosmedia.cobalt.eclipse.sdk.ui.internal.server.cobaltServerDebugEditorSection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="1"
            typeIds="com.eidosmedia.cobalt.eclipse.sdk.server.*">
      </section>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.eidosmedia.cobalt.eclipse.sdk.internal.launching.CobaltLaunchConfiguration"
            id="com.eidosmedia.cobalt.eclipse.sdk.launching.CobaltLaunchConfiguration"
            modes="run,debug"
            name="%launcherName"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.eidosmedia.cobalt.eclipse.sdk.internal.launching.CobaltLaunchConfigurationTabGroup"
            id="com.eidosmedia.cobalt.eclipse.sdk.launching.launchConfigurationTabGroup"
            type="com.eidosmedia.cobalt.eclipse.sdk.launching.CobaltLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.eidosmedia.cobalt.eclipse.sdk.launching.CobaltLaunchConfiguration"
            icon="icons/cobalt.gif"
            id="com.eidosmedia.cobalt.eclipse.sdk.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.eidosmedia.cobalt.eclipse.sdk.objectContribution.resource"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               icon="icons/cobalt.gif"
               id="com.eidosmedia.cobalt.eclipse.sdk.menu.resource"
               label="Cobalt SDK"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.eidosmedia.cobalt.eclipse.sdk.internal.actions.NewConfigurationFolderAction"
               enablesFor="1"
               icon="icons/config_wiz.gif"
               id="com.eidosmedia.cobalt.eclipse.sdk.internal.actions.NewConfigurationFolderAction"
               label="Create configuration folder..."
               menubarPath="com.eidosmedia.cobalt.eclipse.sdk.menu.resource/group1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.eidosmedia.cobalt.eclipse.sdk.objectContribution.server"
            objectClass="org.eclipse.wst.server.core.IServer">
         <visibility>
            <or>
               <objectState
                     name="serverType"
                     value="com.eidosmedia.cobalt.eclipse.sdk.server.10">
               </objectState>
            </or>
         </visibility>
         <menu
               icon="icons/cobalt.gif"
               id="com.eidosmedia.cobalt.eclipse.sdk.menu.server"
               label="Cobalt SDK"
               path="addition">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.eidosmedia.cobalt.eclipse.sdk.internal.actions.InvalidateAllAction"
               enablesFor="1"
               id="com.eidosmedia.cobalt.eclipse.sdk.internal.actions.server.InvalidateAllAction"
               label="Create sample DB"
               menubarPath="com.eidosmedia.cobalt.eclipse.sdk.menu.server/group1">
         </action>
      </objectContribution>
   </extension>
</plugin>
